USE [master]
GO
/****** Object:  Database [DAI-Disney]    Script Date: 27/6/2022 09:57:19 ******/
CREATE DATABASE [DAI-Disney]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAI-Disney', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-Disney.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DAI-Disney_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-Disney_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAI-Disney].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAI-Disney]
GO
/****** Object:  User [alumno]    Script Date: 27/6/2022 09:57:19 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 27/6/2022 09:57:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](150) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[FechaCreacion] [int] NOT NULL,
	[Calificacion] [float] NOT NULL,
 CONSTRAINT [PK_Pelicula] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 27/6/2022 09:57:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](150) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [float] NOT NULL,
	[Historia] [varchar](350) NOT NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonajesXPeliculas]    Script Date: 27/6/2022 09:57:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonajesXPeliculas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPersonaje] [int] NOT NULL,
	[IdPelicula] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pelicula] ON 

INSERT [dbo].[Pelicula] ([Id], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (5, N'https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2016/12/aladdin.jpg?itok=4qtuDDNB', N'Aladin', 1992, 4.5)
INSERT [dbo].[Pelicula] ([Id], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (8, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOllprBSkLhgzTMSQcfBk_BjXIJtSZCLVlacQEgHy4gxvsTyWaFNpJ0jgzTc7H_3DXz0k&usqp=CAU', N'La Bella Durmiente', 1959, 5)
INSERT [dbo].[Pelicula] ([Id], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (9, N'https://1.bp.blogspot.com/-mozWIOldwWQ/UkCmR6yjE9I/AAAAAAAACeg/XCdU5oo96Ys/s1600/La-Cenicienta-Walt-Disney.png', N'La Cenicienta', 1950, 3)
SET IDENTITY_INSERT [dbo].[Pelicula] OFF
GO
SET IDENTITY_INSERT [dbo].[Personaje] ON 

INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (3, N'https://static.wikia.nocookie.net/disney/images/b/b7/Ab%C3%BA.png/revision/latest?cb=20130925165725&path-prefix=es', N'Abú', 18, 14, N'Es un travieso monito ladronzuelo que tiene el honor de ser el mejor amigo de Aladin.')
INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (4, N'https://static.wikia.nocookie.net/disney/images/b/b3/Mal%C3%A9fica.png/revision/latest?cb=20120926081318&path-prefix=es', N'Maléfica', 35, 55, N'Maléfica es la villana principal de la película Sleeping Beauty. Es una poderosa hechicera que se describe a sí misma como la "Emperatriz del Mal".')
INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (6, N'https://static.wikia.nocookie.net/disney/images/a/ad/Charming.png/revision/latest?cb=20170927024701&path-prefix=es', N'Principe Encantador', 30, 60, N'El príncipe Henry, más conocido como Charming, es el esposo de Cenicienta. Aparece en el clásico de 1950 y en sus secuelas, así como en el remake se llama Kit, interpretado por Richard Madden.')
SET IDENTITY_INSERT [dbo].[Personaje] OFF
GO
SET IDENTITY_INSERT [dbo].[PersonajesXPeliculas] ON 

INSERT [dbo].[PersonajesXPeliculas] ([Id], [IdPersonaje], [IdPelicula]) VALUES (2, 3, 5)
INSERT [dbo].[PersonajesXPeliculas] ([Id], [IdPersonaje], [IdPelicula]) VALUES (3, 4, 8)
INSERT [dbo].[PersonajesXPeliculas] ([Id], [IdPersonaje], [IdPelicula]) VALUES (4, 6, 9)
SET IDENTITY_INSERT [dbo].[PersonajesXPeliculas] OFF
GO
ALTER TABLE [dbo].[PersonajesXPeliculas]  WITH CHECK ADD  CONSTRAINT [FK_PersonajesXPeliculas_Pelicula] FOREIGN KEY([IdPelicula])
REFERENCES [dbo].[Pelicula] ([Id])
GO
ALTER TABLE [dbo].[PersonajesXPeliculas] CHECK CONSTRAINT [FK_PersonajesXPeliculas_Pelicula]
GO
ALTER TABLE [dbo].[PersonajesXPeliculas]  WITH CHECK ADD  CONSTRAINT [FK_PersonajesXPeliculas_Personaje] FOREIGN KEY([IdPersonaje])
REFERENCES [dbo].[Personaje] ([Id])
GO
ALTER TABLE [dbo].[PersonajesXPeliculas] CHECK CONSTRAINT [FK_PersonajesXPeliculas_Personaje]
GO
USE [master]
GO
